services:
  router:
    build:
      context: ..
      dockerfile: docker/Dockerfile.router
    container_name: fake_router
    hostname: router
    cap_add:
      - NET_ADMIN
    networks:
      net:
        ipv4_address: 10.0.0.2

  host:
    build:
      context: ..
      dockerfile: docker/Dockerfile.host
    container_name: host
    hostname: host
    cap_add:
      - NET_ADMIN
    networks:
      net:
        ipv4_address: 10.0.0.20
    stdin_open: true
    tty: true

  sniffer:
    build:
      context: ..
      dockerfile: docker/Dockerfile.sniffer
    container_name: sniffer
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      net:
        ipv4_address: 10.0.0.10
    command: ["-i", "eth0"]
    stdin_open: true
    tty: true

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1
