services:
  router:
    build:
      context: ..
      dockerfile: docker/Dockerfile.router
    container_name: fake-router
    hostname: router
    command: >
      --config ./src/conf/fake_route_to_google.yaml
    cap_add:
      - NET_ADMIN
    networks:
      net:
        ipv4_address: 10.0.0.2

  host:
    build:
      context: ..
      dockerfile: docker/Dockerfile.host
    container_name: host
    hostname: host
    cap_add:
      - NET_ADMIN
    networks:
      net:
        ipv4_address: 10.0.0.20
    stdin_open: true
    tty: true

  sniffer:
    build:
      context: ..
      dockerfile: docker/Dockerfile.sniffer
    container_name: sniffer
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      net:
        ipv4_address: 10.0.0.10
    command: ["-i", "eth0"]
    stdin_open: true
    tty: true

  rip-router:
    image: frrouting/frr:latest
    container_name: rip-router
    cap_add:
      - NET_ADMIN
      - NET_RAW
    mem_limit: 2g
    sysctls:
      - net.ipv4.ip_forward=1
    networks:
      net:
        ipv4_address: 10.0.0.254
    volumes:
      - ./frr/daemons:/etc/frr/daemons
      - ./frr/frr.conf:/etc/frr/frr.conf
      - ./frr/vtysh.conf:/etc/frr/vtysh.conf
    privileged: true
    ports:
      - "7946:7946"  # VTY port (telnet)
    ulimits:
      nofile:
        soft: 1024
        hard: 4096
      memlock:
        soft: 65536
        hard: 65536

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      net:
        ipv4_address: 10.0.0.30

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    networks:
      net:
        ipv4_address: 10.0.0.31
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml
    networks:
      net:
        ipv4_address: 10.0.0.32
    depends_on:
      - loki

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
